
<div class="container">
    <div class="row">
        <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
            <div class="panel mb-5">
                <div class="panel-heading">
                    <h3 class="pt-4 font-weight-bold">Sign up</h3>
                </div>
                <div class="panel-body p-3">
                    <form [formGroup]="signupForm">
                        <div class="form-group pt-3">
                            <div class="input-field">
                                <fa-icon [icon]="faUser"></fa-icon>
                               <input formControlName="userName" type="text" placeholder="Username">
                            </div>
                        </div>
                        <small *ngIf="signupForm.controls['userName'].dirty && signupForm.hasError('required','userName')" class="text-danger">*Username is required</small>


                        <div class="form-group pt-3">
                            <div class="input-field">
                                <fa-icon [icon]="faUser"></fa-icon>
                               <input formControlName="firstName" type="text" placeholder="FirstName">
                            </div>
                        </div>
                        <small *ngIf="signupForm.controls['firstName'].dirty && signupForm.hasError('required','firstName')" class="text-danger">*Firstname is required</small>


                        <div class="form-group pt-3">
                            <div class="input-field">
                                <fa-icon [icon]="faUser"></fa-icon>
                                <input formControlName="lastName" type="text" placeholder="LastName">
                            </div>
                        </div>
                        <small *ngIf="signupForm.controls['lastName'].dirty && signupForm.hasError('required','lastName')" class="text-danger">*Lastname is required</small>


                        <div class="form-group pt-3">
                            <div class="input-field">
                                <fa-icon [icon]="faUser"></fa-icon>
                                <input formControlName="email" type="text" placeholder="Email">
                            </div>
                        </div>
                        <small *ngIf="signupForm.controls['email'].dirty && signupForm.hasError('required','email')" class="text-danger">*Email is required</small>


                        <div class="form-group pt-3">
                            <div class="input-field">
                                <fa-icon [icon]="password"></fa-icon>
                                <input formControlName="password" [type]="type" placeholder="Password">
                                <span class="eyeb">
                                    <fa-icon (click)="hideShowPassword()" [icon]="eye"></fa-icon>
                                </span>
                            </div>
                        </div>
                        <small *ngIf="signupForm.controls['password'].dirty && signupForm.hasError('required','password')" class="text-danger">*Password is required</small>


                        <div class="form-group pt-3">
                            <div class="input-field">
                                <fa-icon [icon]="password"></fa-icon>
                                <input [type]="type" placeholder="Password">
                                <span class="eyeb">
                                    <fa-icon (click)="hideShowPassword()" [icon]="eye"></fa-icon>
                                </span>
                            </div>
                        </div>
                        <small *ngIf="signupForm.controls['password'].dirty && signupForm.hasError('required','password')" class="text-danger">*Password is required</small>

                        <div class="form-inline fr mt-4">
                            <a class="forget font-weight-bold">Forget Password?</a>
                        </div>
                        <button type="submit" class="btn btn-green btn-block mt-4 w-100" (click)="onSignup()">Sign up</button>
                    
                        <div class="text-center pt-4 text-muted">
                            <p class="text-white">Already have an account? <a class="forget" routerLink="/login">Login</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
